<div class="container">
    <form>
        <div class="labelArea">
            <label for="username">Your email</label>
            <input type="email" id="email" required/>
        </div>
        <div class="labelArea">
            <label for="password">Your password</label>
            <input type="password" id="pwd" maxlength="10" required/>
        </div>
        <div class="labelArea">
            <label for="firstname">Your first name</label>
            <input type="name" id="firstname" required/>
        </div>
        <div class="labelArea">
            <label for="lastname">Your last name initial</label>
            <input type="name" id="lastname" maxlength="1" required/>
        </div>
        <button type="submit" class="btn btn-default">Register</button>
    </form>
</div>